.logobwc{
    text-align: center;
}

.qr{
    display: block;
    text-align: center;
}
.user{
    display: inline-flex;
}

.contendor-info-user{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.txt{
    display: block;
    text-align: center;
}

.scanner{
    display: flex;
    justify-content: space-evenly;
}

.toggle-md{
    position: relative;
    width: 36px;
    height: 14px;
    box-sizing: content-box;
    contain: strict;
    padding-left: 5px;
}

.btn-scanner{
    display: flex;
}

.switch-multi{
    display: flex;
    justify-items: baseline;
}
