.txt-scanner{
    text-align: center;
}

.show-qr{
    display: flex;
}

.arrow-qr{
    padding-top: 5px;
}

.btn-scanner{
    justify-content: center;
}

.txt-info{
    padding-top: 25px !important;
}

