<ion-content>
<!--    <side-bar></side-bar>-->
    <div class="sync">
        <h2 style="font-weight: bold">Pendientes de registrar</h2>
        <button ion-button small style="background-color:#bdbbd1ff">
            Sincronizar
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
    <!--- ACEPTADO -->
    <ion-card-content>
        <ion-card *ngIf="_tickets.length > 0">
            <div class="card-info">
                <h3 class="title-card-info">Entradas sala VIP</h3>
                <div class="level">
                    <img src="assets/images/hdpi/credencial-B.png">
                    <h2>Medio</h2>
                </div>
            </div>
            <div class="state">
                <div style="display: flex;">
                    <img src="assets/images/hdpi/ico-check.png">
                    <h5 style="color: green !important; margin-top: auto; margin-left: 5px">Aceptado</h5>
                </div>
                <h5>PRESENTADA EL: <strong>10/10/2019</strong></h5>
            </div>
        </ion-card>
    </ion-card-content>
    <!-- RECHAZADO -->
    <ion-card-content>
        <ion-card *ngIf="_tickets.length > 0">
            <div class="card-info">
                <h3 class="title-card-info">Entradas sala VIP</h3>
                <div class="level">
                    <img src="assets/images/hdpi/credencial-B.png">
                    <h2>Medio</h2>
                </div>
            </div>
            <div class="state">
                <div style="display: flex;">
                    <img src="assets/images/hdpi/ico-close-red.png">
                    <h5 style="color: red !important; margin-top: auto; margin-left: 5px">Rechazado</h5>
                </div>
                <h5>PRESENTADA EL: <strong>10/10/2019</strong></h5>
            </div>
        </ion-card>
    </ion-card-content>
</ion-content>
